<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top border-bottom border-secondary shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TL - GARIK ASATRYAN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activePage == 'home'} ? 'active'"
                           th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activePage == 'agents'} ? 'active'"
                           th:href="@{/agents}">Agentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activePage == 'appointments'} ? 'active'"
                           th:href="@{/appointments}">Citas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activePage == 'clients'} ? 'active'"
                           th:href="@{/clients}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activePage == 'offices'} ? 'active'"
                           th:href="@{/offices}">Oficinas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activePage == 'properties'} ? 'active'"
                           th:href="@{/properties}">Propiedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${activePage == 'transactions'} ? 'active'"
                           th:href="@{/transactions}">Transacciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>