<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head ('Real Estate Agency - Insertar/Actualizar Cita')}">
    <title>Real Estate Agency</title>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Incluir el fragmento del header -->
<header th:replace="~{fragments/header :: header}"></header>
<main class="flex-grow-1 container mt-5">
    <h1 th:text="${appointment.id == null ? 'Add New Appointment' : 'Edit Appointment'}"></h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="${appointment.id == null} ? '/appointments/insert' : '/appointments/update'"
          th:object="${appointment}" method="post" enctype="multipart/form-data" class="mt-4">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="appointment_date" class="form-label">Date:</label>
            <input type="date" th:field="*{appointmentDate}" id="appointment_date"
                   class="form-control" required/>
            <div th:if="${#fields.hasErrors('appointmentDate')}"
                 class="text-danger"
                 th:errors="*{appointmentDate}"></div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input type="text" th:field="*{location}" id="location" class="form-control" />
            <div th:if="${#fields.hasErrors('location')}" class="text-danger" th:errors="*{location}"></div>
        </div>

        <div class="mb-3">
            <label for="notes" class="form-label">Notes:</label>
            <input type="text" th:field="*{notes}" id="notes" class="form-control" />
            <div th:if="${#fields.hasErrors('notes')}" class="text-danger" th:errors="*{notes}"></div>
        </div>

        <div class="mb-3">
            <label for="agent" class="form-label">Agent:</label>
            <select id="agent" name="agent" class="form-select">
                <option value="" disabled>Select an agent</option>
                <option th:each="ag : ${agents}" th:value="${ag.id}" th:text="${ag.code}"
                        th:selected="${appointment.agent != null} ? ${appointment.agent.id == ag.id} : false">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="client" class="form-label">Client:</label>
            <select id="client" name="client" class="form-select">
                <option value="" disabled>Select a client</option>
                <option th:each="c : ${clients}" th:value="${c.id}" th:text="${c.code}"
                        th:selected="${appointment.client != null} ? ${appointment.client.id == c.id} : false">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" th:text="${appointment.id == null ? 'Create' : 'Update'}"></button>
    </form>

    <!-- Volver a la lista de citas -->
    <a href="#" th:href="@{/appointments}" class="btn btn-secondary mt-3">Back to List</a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
