<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head ('Ticker Logger - Home')}"></head>

<body class="d-flex flex-column min-vh-100 bg-dark text-light">

<header th:replace="~{fragments/header :: header}"></header>

<main class="flex-grow-1 mt-5">
    <div class="container">
        <h1 class="mt-5">Inmobiliaria</h1>
        <p class="lead">GARIK ASATRYAN BEATRIZ BARRACHINA - Aplicación Web para el registro de compraventa de inmobiliaria.</p>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>