<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Inmobiliaria - Listado de Propiedades')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>
<main class="container mt-5">
    <h1>Properties</h1>

    <!-- Muestra un mensaje de error si hay algún problema -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Muestra la lista de propiedades en una tabla -->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Description</th>
            <th>Location</th>
            <th>Price</th>
            <th>Type</th>
            <th>Floors</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Status</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="property : ${listProperties}">
            <td th:text="${property.id}"></td>
            <td th:text="${property.code}"></td>
            <td th:text="${property.description}"></td>
            <td th:text="${property.location}"></td>
            <td th:text="${property.price}"></td>
            <td th:text="${property.type}"></td>
            <td th:text="${property.floors}"></td>
            <td th:text="${property.bedrooms}"></td>
            <td th:text="${property.bathrooms}"></td>
            <td th:text="${property.status}"></td>
            <td th:text="${property.image}"></td>
            <td>

                <!-- Botón para editar -->
                <a th:href="@{/properties/edit(id=${property.id})}" class="btn btn-primary btn-sm">Edit</a>

                <!-- Botón para eliminar -->
                <form th:action="@{/properties/delete}" method="post" class="dinline">
                    <input type="hidden" name="id" th:value="${property.id}"/>
                    <button type="submit" class="btn btn-danger btn-sm" th:onclick="|return confirm('Are you sure you want to delete this property?');|">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

        <!-- Botón para añadir una nueva propiedad -->
        <a th:href="@{/properties/new}" class="btn btn-success mt-3">Add New Property</a>

        <!-- Volver a la página principal -->
        <a href="#" th:href="@{/}" class="btn btn-secondary mt-3">Back to Home</a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>